body {
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Calbri, sans-serif;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;

    border: 1px solid red;
}
#wrap {
    margin-top: 15px;
}

.selectbox {
    width: 100px;
    height: 30px;
    border-radius: 0;
    font-size: 16px;
    -webkit-appearance: none;
    background-image: url('../img/selectbox-icon.png');
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
    color: #7e7e7e;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
.selectbox select::-ms-expand {
    display: none;
}
.selectbox:focus {
    outline: none;
    box-shadow: none;
}
.choose-region span {
    float: left;
}
.navbar-toggle {
    display: block;
}
.navbar-toggle .icon-bar {
    background-color: #07b3c0;
    width: 55px;
    height: 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
}